<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Secular+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style_contacto.css">
</head>
<body>
    <header id="inicio">
        <div class="contenedor_header">
            <img src="F:\Paginas\Impobiliaria\imagenes\logo.png">
            <a href="F:\Paginas\Impobiliaria\index.html">Ignova Studio</a>
        </div>
        <nav id="menu">
            <ul>
                <li><a href="F:\Paginas\Impobiliaria\planteos_estructurales.html">Planteos estructurales</a></li>
                <li><a href="F:\Paginas\Impobiliaria\diseños.html">Diseños</a></li>
                <li><a href="F:\Paginas\Impobiliaria\contacto.html">Contactanos</a></li>
            </ul>
        </nav>
    </header>
    <div class="espacio_blanco"></div>
    <div class="contenedor">
        <div class="mapa"> 
            <h1>Encontranos en Av. Aconquija al 2700 YB.</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8469.31586313504!2d-65.31016986337639!3d-26.811036393462818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942243daf800270d%3A0x38337bf2f983470e!2sEl%20Mes%C3%B3n%20del%20Pato!5e0!3m2!1ses!2sar!4v1678731886416!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen=""  loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <h4>Atencion al cliente</h4>
        <div id="formulario">
                <label for="">Ingrese correo electrinico: </label><br>
                <input type="email" v-model="nuevoCorreo" ><br>

                <label for="">Ingrese su nombre: </label><br>
                <input type="text" v-model="nuevoNombre"><br>

                <label for="">Ingrese un mesaje: </label><br>
                <input type="text" v-model="nuevoMensaje"><br>

                <button v-on:click="agregarDatos()">Enviar datos</button>
                <ul>
                    <li v-for="cliente in clientes">
                        {{Cliente.correo}} - {{Cliente.nombre}} - {{cliente.mensaje}}
                    </li>
                </ul>
        </div>
    </div>
    <script src="https://unpkg.com/browse/vue@3.3.4/dist/vue.global.js"></script>
    <script src="JS/consulta.js"></script>
</body>
</html>
